
.task-card{
      border-color: #d6e9c6;
      height: 100%;
      margin-bottom: 10%;

      min-height: 500px;
      overflow: auto;
}

  .scroll-list {
    height: 500px;
  }

  .task-header{
    padding: 10px 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: antiquewhite;
  }

  .remaining{
    color: #ff6358;
  }