<div class="container-fluid">
    <div class="row">
        <div class="board">
            <div class="card ">
                <div class="card-heading bg-secondary ">
                    <p>Task Board</p>
                    <div>
                        <!-- <span>Total Task: <b>{{list1.length + list2.length}} </b>--</span>
                        <span>To Do Task:<b>{{list1.length }} </b>--</span>
                        <span>In Progress Task: <b>{{list2.length }} </b>--</span>
                        <span>Completed Task: <b>{{list3.length }}</b></span> -->
                    </div>
                </div>
                <br>
                <!-- <div class="row">
                <div class="col-sm-3">
                    <ul class="list-group">
                        <li draggable *ngFor="let item of items" [dragData]="item" class="list-group-item">{{item.name}}</li>
                    </ul>
                </div>
                
                <div class="col-sm-3">
                <div class="panel panel-default" droppable (onDrop)="onItemDrop($event)">
                    <div class="panel-heading">Drop Items here</div>
                        <div class="panel-body">
                            <li *ngFor="let item of droppedItems" class="list-group-item">{{item.name}}</li>
                        </div>
                    </div>
                </div>
                </div> -->
                <!-- <div class="row">
                    <div class="col-sm-3">
                        <div class="card card-outline-primary mb-3" droppable [dropScope]="'swap-target-1'"
                            [dragOverClass]="'drag-target-border'" [dragHintClass]="'drag-hint'"
                            (onDrop)="onList1Drop($event)">
                            <div class="card-header bg-warning  card-inverse card-primary">To Do</div>
                            <div class="card-body scroll-list">
                                <ul class="list-group">
                                    <li draggable *ngFor="let item of list1" [dragScope]="'swap-target-2'"
                                        [dragClass]="'drag-over'" [dragData]="item" class="list-group-item ">
                                        {{item.title}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="card card-outline-primary mb-3" droppable [dropScope]="'swap-target-2'"
                            [dragOverClass]="'drag-target-border'" [dragHintClass]="'drag-hint'"
                            (onDrop)="onList2Drop($event)">
                            <div class="card-header bg-success card-inverse card-primary">In Progress</div>
                            <div class="card-body scroll-list">
                                <ul class="list-group">
                                    <li draggable *ngFor="let item of list2" [dragScope]="'swap-target-1'"
                                        [dragClass]="'drag-over'" [dragData]="item" class="list-group-item">
                                        {{item.title}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> -->

                <!-- <div class="row">
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-heading">
                                To Do
                            </div>
                            <div class="card-body scroll-list">
                                <ul class="list-group">
                                    <li draggable *ngFor="let item of tasks; let i = index" [dragData]="item"
                                        (click)="openTask(item)" class="list-group-item"> {{item.title}}
                                        <div class="remaining">Remaining {{ item.endDate }} days </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card" droppable (onDrop)="onItemDrop($event)">
                            <div class="card-heading">
                                To Do
                            </div>
                            <div class="card-body scroll-list">
                                <ul class="list-group">
                                    <li *ngFor="let item of listTeamOne; let i = index" class="list-group-item">
                                        {{item.title}}
                                        <div class="remaining">
                                            Remaining {{ item.endDate }}
                                            days
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> -->

                <!-- <div class="row">
                    <div class="col-sm-3">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                To Do
                            </div>
                            <div class="panel-body scroll-list" dnd-sortable-container [dropZones]="['boxers-zone']" [sortableData]="tasks">
                                <ul class="list-group">
                                    <li *ngFor="let item of tasks; let i = index" dnd-droppable (onDropSuccess)="addTo($event, item, 'ToDo')" (click)="openTask(item)" class="list-group-item" dnd-sortable [sortableIndex]="i">
                                        <span *ngFor="let people of peoples">
                                          <img *ngIf="item.people == people.id" src="{{people.photo}}" alt="{{people.name}}">
                                        </span> {{item.title}}
                                        <div class="remaining">
                                            Remaining {{ item.endDate | amDifference: item.startDate :'days' : true }} days
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                In Progress
                            </div>
                            <div class="panel-body" dnd-sortable-container [dropZones]="['boxers-zone']" [sortableData]="listTeamOne">
                                <ul class="list-group">
                                    <li *ngFor="let item of listTeamOne; let i = index" dnd-droppable (onDropSuccess)="addTo($event, item, 'Progress')" (click)="openTask(item)" class="list-group-item" dnd-sortable [sortableIndex]="i">
                                        <span *ngFor="let people of peoples">
                                            <img *ngIf="item.people == people.id" src="{{people.photo}}" alt="{{people.name}}">
                                          </span> {{item.title}}
                                        <div class="remaining">
                                            Remaining {{ item.endDate | amDifference: item.startDate :'days' : true }} days
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                Completed
                            </div>
                            <div class="panel-body" dnd-sortable-container [dropZones]="['boxers-zone']" [sortableData]="listTeamTwo">
                                <ul class="list-group">
                                    <li *ngFor="let item of listTeamTwo; let i = index" dnd-droppable (onDropSuccess)="addTo($event, item, 'Completed')" (click)="openTask(item)" class="list-group-item" dnd-sortable [sortableIndex]="i">
                                        <span *ngFor="let people of peoples">
                                          <img *ngIf="item.people == people.id" src="{{people.photo}}" alt="{{people.name}}">
                                        </span> {{item.title}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
        
        ewrt
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>