/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body {
    margin: 0;
    padding-top: 4rem;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mandatory {
    color: red !important;
    font-weight: bold;
    margin-right: 0.31rem;
    font-size: 0.875rem !important;
    padding: 0px 0.25rem 0px 0.1875rem;
}